B8GU52_0924/B8GU52_orarend.dtd

<!ELEMENT KS_orarend (ora+)>

<!ELEMENT ora (targy,idopont,helyszin,oktato,szak)?>
<!ATTLIST ora 
    id ID #REQUIRED
    tipus (eloadas | gyakorlat) #REQUIRED>

<!ELEMENT targy (#PCDATA)>
<!ELEMENT idopont (nap, tol , ig)+>
<!ELEMENT helyszin (#PCDATA)>
<!ELEMENT oktato (#PCDATA)>
<!ELEMENT szak (#PCDATA)>
<!ATTLIST szak PCDATA #FIXED "Mernokinformatikus BsC">